<!DOCTYPE html>
<html>

<!-- bootstrap links -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<style>
  @media (min-width: 576px) {
  .jumbotron {
    padding-bottom: 2%;
    padding-top: 2%;
    
  }
}
</style>

<link rel="icon" href="https://www.pinclipart.com/picdir/big/1-13391_the-history-of-my-globe-with-flags-icon.png">
<body style="background-color: gainsboro;">
<title> Firebase Firestore to CSV Generator </title>

<div class="jumbotron container-fluid bg-dark">
  <div class="row">
    <div class="col col-lg-9"></div>
    <div class="col"></div>
    <div class="col"></div>
  </div>
  <br>
  <div class="row">
    <div class="col col-lg-9">
      <h1 class="display-4 text-light">Firebase Firestore to CSV Generator</h1>
    </div>
    <div class="col">
      <img src="/favicon.ico" width="100">
    </div>
  </div>
</div>

<div class="row">
  <div class="col"></div>
  <div class="col min-vh-100">
    <form [formGroup]="csvForm" (ngSubmit)="onSubmit()">
        <input type="text" name="logging_in" value="True" hidden>
        <input type="text" id="login_token" name="login_token" hidden>
        <div class="form-group">
          <label for="InputProjectID">Project ID</label>
          <input type="text" class="form-control" id="InputProjectID" aria-describedby="emailHelp" formControlName="project">
        </div>
        <div class="form-group">
          <label for="InputCollectionID">Collection ID</label>
          <input type="text" class="form-control" id="InputCollectionID" formControlName="collection">
        </div>
        <div class="form-group">
          <label for="InputDocumentID">Document ID</label>
          <input type="text" class="form-control" id="InputDocumentID" formControlName="document">
        </div>
        <button type="submit" class="btn btn-dark">Get CSV</button>
      </form>
  </div>
  <div class="col"></div>
</div>
  
  </body>
</html>